// Global settings
$govuk-assets-path: "https://coronavirus.data.gov.uk/public/assets/";
$static-images: "https://coronavirus.data.gov.uk/public/assets/images/";
$govuk-page-width: 1920px;

@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: normal;
  src: url("https://coronavirus.data.gov.uk/public/assets/fonts/light-94a07e06a1-v2.woff2") format("woff2"),
       url("https://coronavirus.data.gov.uk/public/assets/fonts/light-f591b13f7d-v2.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: bold;
  src: url("https://coronavirus.data.gov.uk/public/assets/fonts/bold-b542beb274-v2.woff2") format("woff2"),
       url("https://coronavirus.data.gov.uk/public/assets/fonts/bold-affa96571d-v2.woff") format("woff");
  font-display: fallback;
}


$govuk-font-family: "GDS Transport", Arial, sans-serif;
$govuk-breakpoints: (
  mobile:  799px,
  tablet:  799px,
  desktop: 800px
) !default;

$primary-colour: #1d70b8;
$govuk-secondary-text-colour: #6B7276;

// GOVUK Frontend
@import '../node_modules/govuk-frontend/govuk/all';

@import 'sass/base-elements';
@import 'sass/cookie-banner';
@import 'sass/govuk-extensions';
@import 'sass/markdown';
@import 'sass/accessibility';
@import 'sass/dashboard';
@import 'sass/side-navigation';
@import 'sass/sticky-header';
@import 'sass/day-picker';
@import 'sass/tooltip';
@import 'sass/utility';
@import 'sass/select';
@import 'sass/covid19-custom';
@import 'sass/landing';
@import 'sass/generic';
@import 'sass/banner';
@import 'sass/whats_new';
@import 'sass/_vaccinations';
